body{
    font-family: font-family: 'Mulish', sans-serif;;
}
.orange{
    color:orange
}
p{
    text-align: justify;

}
section{
    display: flex;
    border-bottom: orange;
    background-image: url(Untitled-4.png);
    background-repeat: no-repeat;
    margin-top: 20px;
}
.top-banner{

    
}
.half-width{
    width: 50%;
    margin: 60px;

}
.half-width img{
    width: 100%;
    margin-right: 30px;

}
.sub-btn{
    text-decoration: none;
    color: #242521;
    background-color: orange;
    padding: 6px;
    border-radius: 6px;
}
.mypic.jpg
